// Fonts
$base_fonts: Roboto, "Helvetica Neue", sans-serif;
$font_weight: 700;
// Colors
$background: #323a45;
$body_background: #151515;
$color_primary: #3f51b5;
$color_secondary: #ffffff;
// Alignment
$full: 100%;
$max_width: 1200px;
// Animations
$duration: 0.3s;

body {
    font-family: $base_fonts;
    background-color: $body_background;
    padding-top: 60px;
    max-height: $full;
    overflow: hidden;
    height: 100vh;
}
body * {
    font-family: $base_fonts;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

